<div class="row">
    <div class="col my-2">
        <h4 class="text-left ml-3 mr-auto">
            Bienvenido, {{usuario.duenio.nombre}} {{usuario.duenio.apellido}}
        </h4>
    </div>
    <div class="col my-2">
        <a (click)="cerrarSesion()" 
            class="btn btn-primary float-right mr-2">Cerrar sesión</a>
        <a href="/cuenta" 
            class="btn btn-secondary float-right mx-2">Datos personales</a>
        <a href="/cuenta/facturas" 
            class="btn btn-secondary float-right mx-2">Facturas</a>
        <a href="/inicio" 
            class="btn btn-secondary float-right mx-2">Catalogo</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5 class="text-center my-4">
            Pedidos realizados
        </h5>
        <table class="table table-striped mx-auto">
            <thead>
                <tr class="text-center">
                    <th>Fecha</th>
                    <th>Total de productos</th>
                    <th>Estado</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos" class="text-center">
                    <td>{{pedido.fecha}}</td>
                    <td>{{pedido.detalles.length}}</td>
                    <td>{{pedido.estado}}</td>
                    <td>{{pedido.subtotal}}</td>
                    <td>
                        <a (click)="verDetallePedido(pedido.id)" class="btn btn-info">
                            Ver estado
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>